/* Variables */
:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #F9F2ED;
    --primary-color: #F87474;
    --secondary-color: #3AB0FF;
    --tertiary-color: #FFB562;
    --grid-color: rgb(173, 187, 197);
}

html {
    scroll-behavior: smooth;
}

/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: var(--bg-color);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: var(--bolder-font);
    color: var(--tertiary-color);
    margin: 10px;
}

.container {
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 800px;
    border-radius: 10px;
}

.grid-area {
    display: flex;
    background-color: var(--grid-color);
    width: auto;
    height: auto;
    max-width: 640px;
    max-height: 640px;
    margin: auto;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 0;
}

.grid-square {
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 16px;
}



.colored-gray {
    background-color: gray;
}
.colored-rgb {
    
}

.slidercontainer {
    width: 80%;
}

.slider {
    width: 100%;
    height: 25px;
    
}

#squareValue {
    color: var(--bg-color);
    font-size: 18px;
    font-weight: var(--bold-font);
}


.buttons {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 8px;
    border: none;
    box-shadow: none;
    color: white;
    background-color: var(--secondary-color);
    font-weight: var(--bold-font);
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    color: var(--secondary-color);
    background-color: white;
}
